body {
    height: 100vh;
}

header,
footer {
    display: flex;
    justify-content: center;
    padding: 2rem;

}

header button {
    border-radius: 1rem;
    background-color: brown;
    color: white;
    padding: 1rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}


header button:active {
    opacity: 0.5;
}


main {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.absolute {
    position: absolute;
    top: 15rem;
    font-size: 8rem;
    background-color: white;
    opacity: 0.7;
    border-radius: 5rem;
    padding: 1rem;
    box-shadow: -10px 10px 19px 20px rgba(0, 0, 0, 0.55);
}

.visible {
    visibility: hidden;
}