body{
    height: 100vh;
    overflow-x: hidden;
    background-color: #1A1A1D;
}


.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

a{
    color: rgba(68, 238, 68, 0.26);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

p{
    margin-top: 35px;
}

a:hover{
    transform: translateX(220px);
    color: #4E4E;
}

a:active{
    opacity: 0.5;
}
