body {
    overflow-x: hidden;
    background-color: #132743;
    color: #ffcbcb;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    font-size: 20px;
    gap: 10px;
}

a {
    color: rgb(255, 90, 181);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}


.white {
    background-color: #132743;
    grid-column: 1 / span 3;
    text-align: center;
    justify-content: center;
}

.purble {
    background-color: #407088;
    border: black solid 1px;
    text-align: center;
    padding: 10%;
}

a:hover {
    transform: translateX(220px);
    color: #ffb5b5;
}

a:active {
    opacity: 0.5;
}


@media(max-width:650px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .purble {
        grid-column: 1 / span 3;
    }
}
