body{
    height: 100vh;
    background-color: beige;
}


.flex-title{
    display: flex;
    justify-content: center;
}


main{
    height: 80%;
}

.main{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.display-grid > p{
    display: flex;
    justify-content: center;
}
.display-grid > img{
    height: 200px;
    border: 1px solid;
}

.change{
    box-shadow: 0 3px 4px 0 #DBEDF3;
        opacity: 0.5;
}