.small{
    font-size: 18px;
}

.card-style{
    background-repeat: no-repeat;
    background-position: center;
}

.capitalize{
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: #0DCAF0;
}


