@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Mukta:wght@200&family=Roboto&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 80vw;
    
}

.panel{
    height: 80vh;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer;
    flex: 0.5;  
    position: relative;
    transition: flex 0.7s ease-in;
}   


.active {
    flex: 5;
}
    
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.active h3{
    transition: opacity 0.7s ease-in 0.4s;
    opacity: 1;
}



@media (max-width:480px){
    .container{
        width: 90vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}

